

<section class="shopSection">
    <h1>Tents</h1>
    <div class="flex-container">
    <div class="tentContainer">
        <div class="tentImage" id="tentImageOne">
        </div>
      <div class="tentDescription">
            <h2>Small Premium Tent</h2>
            <form action="/charge" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{stripePublishableKey}}"
            data-amount="2500"
            data-name="Web Development Ebook"
            data-description="Ebook written by Brad Traversy"
            data-image="/img/marketplace.png"
            data-locale="auto">
          </script>
          <script>
            // Hide default stripe button
            document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
          </script>
          <button type="submit" class="buyButton"><span class="buyText">Buy For $25</span></button>
        </form>
        </div>
    </div>
    <div class="tentContainer">
        <div class="tentImage" id="tentImageTwo">
        </div>
      <div class="tentDescription">
            <h2>Small Premium Tent</h2>
            <form action="/charge" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{stripePublishableKey}}"
            data-amount="2500"
            data-name="NYX Camping"
            data-description="Brought to you by NYX"
            data-locale="auto">
          </script>
          <script>
            // Hide default stripe button
            document.getElementsByClassName('stripe-button-el')[1].style.display = 'none';
          </script>
          <button type="submit" class="buyButton"><span class="buyText">Buy For $25</span></button>
        </form>
        </div>
    </div>
    <div class="tentContainer">
        <div class="tentImage" id="tentImageThree">
        </div>
      <div class="tentDescription">
            <h2>Small Premium Tent</h2>
            <form action="/charge" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{stripePublishableKey}}"
            data-amount="2500"
            data-name="Web Development Ebook"
            data-description="Ebook written by Brad Traversy"
            data-image="/img/marketplace.png"
            data-locale="auto">
          </script>
          <script>
            // Hide default stripe button
            document.getElementsByClassName('stripe-button-el')[2].style.display = 'none';
          </script>
          <button type="submit" class="buyButton"><span class="buyText">Buy For $25</span></button>
        </form>
        </div>
    </div>
    <div class="tentContainer">
        <div class="tentImage" id="tentImageFour">
        </div>
      <div class="tentDescription">
            <h2>Small Premium Tent</h2>
            <form action="/charge" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{stripePublishableKey}}"
            data-amount="2500"
            data-name="Web Development Ebook"
            data-description="Use card number 4242 4242 4242 4242 for testing"
            data-image="/img/marketplace.png"
            data-locale="auto">
          </script>
          <script>
            // Hide default stripe button
            document.getElementsByClassName('stripe-button-el')[3].style.display = 'none';
          </script>
          <button type="submit" class="buyButton"><span class="buyText">Buy For $25</span></button>
        </form>
        </div>
    </div>
    <div class="tentContainer">
        <div class="tentImage" id="tentImageFive">
        </div>
      <div class="tentDescription">
            <h2>Small Premium Tent</h2>
            <form action="/charge" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{stripePublishableKey}}"
            data-amount="2500"
            data-name="Web Development Ebook"
            data-description="Ebook written by Brad Traversy"
            data-image="/img/marketplace.png"
            data-locale="auto">
          </script>
          <script>
            // Hide default stripe button
            document.getElementsByClassName('stripe-button-el')[4].style.display = 'none';
          </script>
          <button type="submit" class="buyButton"><span class="buyText">Buy For $25</span></button>
        </form>
        </div>
    </div>
    <div class="tentContainer">
        <div class="tentImage" id="tentImageSix">
        </div>
      <div class="tentDescription">
            <h2>Small Premium Tent</h2>
            <form action="/charge" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{stripePublishableKey}}"
            data-amount="2500"
            data-name="Web Development Ebook"
            data-description="Ebook written by Brad Traversy"
            data-image="/img/marketplace.png"
            data-locale="auto">
          </script>
          <script>
            // Hide default stripe button
            document.getElementsByClassName('stripe-button-el')[5].style.display = 'none';
          </script>
          <button type="submit" class="buyButton"><span class="buyText">Buy For $25</span></button>
        </form>
        </div>
    </div>
   

    </div>
</section>